*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    background: tomato;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;

}
ul li{
    list-style: none;
    color: white;
    padding: 20px 0 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}
ul li:hover{
    background: white;
    color: tomato;
}
input[type='checkbox']{
    display: none;
}
label .one{
    height: 8px;
    width: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 2px solid tomato;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
label .two{
    height: 8px;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 10px;
    border: 2px solid tomato;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
label .three{
    height: 8px;
    width: 40px;
    position: fixed;
    top: 30px;
    right: 10px;
    border: 2px solid tomato;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
#menu-button:checked ~ ul{
    transform: scaleX(1);
}
#menu-button:checked ~ label .one{
    transform: rotateZ(45deg) scaleX(.5) translateX(15px);
}
#menu-button:checked ~ label .two{
    transform:  translateX(-15px);
}
#menu-button:checked ~ label .three{
    transform: rotateZ(-45deg) scaleX(.5) translateX(15px);
}
section{
    font-size: 20px;
    line-height: 1.4;
}
section.first{
    margin-top: 80px;
}