body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80vh;
    perspective: 1000px;
    overflow: hidden;
    background: #333;
}
.container{
    perspective: 2000px;
    height: 400px;
    width: 400px;
    position: relative;
    transform: rotateY(-35deg) rotateX(35deg);
    transform-style: preserve-3d;
}
.slides{
    height: 100%;
    width: 500%;
    display: flex;
}
img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    transition: all .7s ease;
    opacity: 0;
    box-shadow: 2px 2px 5px #000;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
}
input{
    display: none;
}
.controls{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
label{
    height: 50px;
    width: 50px;
    background: red;
    margin: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    cursor: pointer;
    transition: .6s;
}
label:hover{
    opacity: .7;
}
#r1:checked ~ .slides > img:nth-child(1),
#r2:checked ~ .slides > img:nth-child(2),
#r3:checked ~ .slides > img:nth-child(3),
#r4:checked ~ .slides > img:nth-child(4){
    opacity: 1;
}

#r1:checked ~ .slides img:nth-child(1){
    margin-left: -0%;
} 
#r2:checked ~ .slides img:nth-child(1){ 
    margin-left: -20%;
}
#r3:checked ~ .slides img:nth-child(1){
    margin-left: -40%;
}
#r4:checked ~ .slides img:nth-child(1){ 
    margin-left: -60%;
}