*{
    /* border: 1px solid red; */
}
body{
    background: #2f0147;
    display: grid;
    place-items: center;
    height: 90vh;
    position: relative;
}
.container{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.loader{
    border: 10px solid #610F7F;
    border-top-color: #9C528B;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation:rotate-loader 3.5s linear infinite;
    margin-bottom: 10px;
}
@keyframes rotate-loader {
    100%{
        transform: rotate(360deg);
    }
}
.text{
    color: #610F7F;
    font-size: 20px;
}
.text span{
    animation: animate-letter 3.5s linear infinite;
    position: absolute;
    left: 0;
    opacity: 0;
}
.text span:nth-child(1){
    animation-delay: .2s;
}
.text span:nth-child(2){
    animation-delay: .4s;
}
.text span:nth-child(3){
    animation-delay: .6s;
}
.text span:nth-child(4){
    animation-delay: .8s;
}
.text span:nth-child(5){
    animation-delay: 1s;
}
.text span:nth-child(6){
    animation-delay: 1.2s;
}
.text span:nth-child(7){
    animation-delay: 1.4s;
}
@keyframes animate-letter {
    0%{
        left: 0;
    }
    100%{
        opacity: 1;
        left: 70%;
    }
}
@media (max-width:400px) {
    
    @keyframes animate-letter {
        0%{
            left: 0;
        }
        100%{
            opacity: 1;
            left: 100%;
        }
    } 
}