body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lightblue;
    min-height: 80vh;
}
.head{
    background: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 75px;
    position: relative;
    width: 100px;
}
.face{
    background: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    position: absolute;
    width: 65px;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}
.eye1,
.eye2{
    position: absolute;
    height: 10px;
    width: 20px;
    top: 15px;
    background: linear-gradient(blue 70%, #002966 80%, blue);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.eye1{
    right: 10px;
}
.eye2{
    left: 10px;
}
.body{
    background: white;
    height: 120px;
    width: 115px;
    margin-top: 20px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.left{
    left: -85px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    animation: lHand 3s linear infinite;
}
.right{
    right: -65px;
    border-bottom-right-radius: 50px;
    transform: rotateZ(90deg);
    top: 30px;
}
.right,
.left{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    background: white;
    height: 30px;
    width: 80px;
}
@keyframes lHand {
    0%{
        transform: translateY(-40px)rotateZ(45deg);
    }
    50%{
        transform: translateY(0px)rotateZ(-0deg);

    }
    100%{
        transform: translateY(-40px)rotateZ(45deg);
    }

}
