body{
    background-color: #1313;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
h1{
    font-family: cursive;
    font-size: 40px;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 5px;
    position: relative;
}
h1::before{
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
h1::after{
    clip-path: polygon(100% 0, 100% 100%, 0 99%);
}
h1::before,
h1::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    color: rgb(233, 115, 19);
}
h1:hover:before{
    transform: translateX(-50px) rotate(-15deg);
}
h1:hover::after{
    transform: translateX(50px) rotate(15deg);
}
