*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #ff7a00;
    color: white;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6b6b6;
}
.form-group{
    width: 270px;
    position: relative;
}
.form-group input{
    width: 100%;
    color: #ff7a00;
    border: none;
    outline: none;
    border-bottom: 2px solid #131313;
    background: transparent;
    padding: 15px 15px 15px 0;
    font-family: cursive;
    font-size: 18px;
    letter-spacing: 2px;
}
.form-group label{
    position: absolute;
    top: 15px;
    left: 0;
    color: #3a3939;
    font-family: Verdana;
    pointer-events: none;
    font-size: 15px;
    transition: all 1s;
}
input:focus{
    border-bottom-color: #ff7a00;
}
input:focus + label,
input:valid + label{
    transform: translateY(-30px);
    font-size: 13px;
    color: #131313;
}