body{
    background: #000;
}
.wrapper{
    width: 500px;
    margin: 250px auto;
}
h2{
    color: white;
    font-size: 4em;
    text-align: center;
}
span{
    display: block;
    background-image: url(oFlame.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation:fire 15s linear infinite;
    -webkit-backface-visibility: hidden;
}
@keyframes fire {
    0%{
        background-position: 0% -50%;
    }
    50%{
        background-position: 100% -50%;
    }
    51%{
        background-image: url(gFlame.jpg);
        background-position: 0% -50%;
    }
    100%{
        background-position: 100% -50%;
    }
}