body{
    background: #fefefe;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 80px;
    height: 80px;
    position: relative;
    transform: rotate(45deg);
}
span{
    width: 30px;
    height: 30px;
    position: absolute;
}
span:first-child{
    background: #f08a5d;
    transform:translate(0px,0px) ;
    animation: shape1 2s ease-in-out infinite;
}
span:nth-child(2){
    background: #d54062;
    transform:translate(50px,0px) ;
    animation: shape2 2s ease-in-out infinite;

}
span:nth-child(3){
    background: #0278ae;
    transform:translate(50px,50px) ;
    animation: shape3 2s ease-in-out infinite;

}
span:nth-child(4){
    background: #28df99;
    transform:translate(0px,50px) ;
    animation: shape4 2s ease-in-out infinite;

}

@keyframes shape1 {
    0%{
    transform: translate(0px,0px);
    }
    25%{
        transform: translate(50px,0px);

    }
    50%{
        transform: translate(50px,50px);

    }
    75%{
        transform: translate(0px,50px);

    }
}

@keyframes shape2 {
    0%{
    transform: translate(50px,0px);
    }
    25%{
        transform: translate(50px,50px);

    }
    50%{
        transform: translate(0px,50px);

    }
    75%{
        transform: translate(0px,0px);

    }
}

@keyframes shape3 {
    0%{
    transform: translate(50px,50px);
    }
    25%{
        transform: translate(0px,50px);

    }
    50%{
        transform: translate(0px,0px);

    }
    75%{
        transform: translate(50px,0px);

    }
}

@keyframes shape4 {
    0%{
    transform: translate(0,50px);
    }
    25%{
        transform: translate(0,0);

    }
     50%{
        transform: translate(50px,0);

    }
    75%{
        transform: translate(50px,50px);

    }  
}
